In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import funciones2 as fs2

In [4]:
#Cargar archivo 
df=fs2.cargar_dataset("Berlin_Alemania.csv")
df

,Unnamed: 0,id,scrape_id,name,description,host_id,host_name,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,f,1.0,1.0,...,5.00,4.64,4.82,NaN,f,1,1,0,0,0.09
1,1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,f,7.0,7.0,...,NaN,NaN,NaN,NaN,f,3,1,2,0,NaN
2,2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,t,1.0,1.0,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,3,8164759,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,f,1.0,3.0,...,5.00,3.00,3.00,NaN,f,1,1,0,0,0.01
4,4,18836877,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,f,1.0,1.0,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,NaN,125006999,Sophie,t,3.0,3.0,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,f,58.0,59.0,...,NaN,NaN,NaN,NaN,t,58,58,0,0,NaN
13981,13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,f,6.0,6.0,...,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,NaN
13982,13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,f,2.0,2.0,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
13983,13983,1285513092900098347,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,f,1.0,1.0,...,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13984 entries, 0 to 13983
Data columns (total 51 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    13984 non-null  int64
 1   id                                            13984 non-null  int64
 2   scrape_id                                     13984 non-null  int64
 3   name                                          13984 non-null  object
 4   description                                   13365 non-null  object
 5   host_id                                       13984 non-null  int64
 6   host_name                                     13975 non-null  object
 7   host_is_superhost                             13847 non-null  object
 8   host_listings_count                           13975 non-null  float64
 9   host_total_listings_count                     13975 non-null  float64
 10  host_has_profile_pic                          13975 non-null  object
 11  host_identity_verified                        13975 non-null  object
 12  latitude                                      13984 non-null  float64
 13  longitude                                     13984 non-null  float64
 14  property_type                                 13984 non-null  object
 15  room_type                                     13984 non-null  object
 16  accommodates                                  13984 non-null  int64
 17  bathrooms                                     9002 non-null   float64
 18  bedrooms                                      11924 non-null  float64
 19  beds                                          8971 non-null   float64
 20  price                                         8990 non-null   object
 21  minimum_nights                                13984 non-null  int64
 22  maximum_nights                                13984 non-null  int64
 23  minimum_minimum_nights                        13984 non-null  int64
 24  maximum_minimum_nights                        13984 non-null  int64
 25  minimum_maximum_nights                        13984 non-null  int64
 26  maximum_maximum_nights                        13984 non-null  int64
 27  minimum_nights_avg_ntm                        13984 non-null  float64
 28  maximum_nights_avg_ntm                        13984 non-null  float64
 29  has_availability                              13140 non-null  object
 30  availability_30                               13984 non-null  int64
 31  availability_60                               13984 non-null  int64
 32  availability_90                               13984 non-null  int64
 33  availability_365                              13984 non-null  int64
 34  number_of_reviews                             13984 non-null  int64
 35  number_of_reviews_ltm                         13984 non-null  int64
 36  number_of_reviews_l30d                        13984 non-null  int64
 37  review_scores_rating                          10706 non-null  float64
 38  review_scores_accuracy                        10704 non-null  float64
 39  review_scores_cleanliness                     10706 non-null  float64
 40  review_scores_checkin                         10703 non-null  float64
 41  review_scores_communication                   10705 non-null  float64
 42  review_scores_location                        10703 non-null  float64
 43  review_scores_value                           10701 non-null  float64
 44  license                                       8827 non-null   object
 45  instant_bookable                              13984 non-null  object
 46  calculated_host_listings_count                13984 non-null  int64
 47  calculated_host_listings_count_entire_homes   13984 non-null  int64
 48  calculated_host_listings_count_private_rooms  13984 non-null  int64
 49  calculated_host_listings_count_shared_rooms   13984 non-null  int64
 50  reviews_per_month                             10706 non-null  float64
dtypes: float64(17), int64(22), object(12)
memory usage: 5.4+ MB

In [6]:
#cuenta de valores nulos
fs2.cuenta_valores_nulos(df)

('Valores nulos por columna',
 Unnamed: 0                                         0
 id                                                 0
 scrape_id                                          0
 name                                               0
 description                                      619
 host_id                                            0
 host_name                                          9
 host_is_superhost                                137
 host_listings_count                                9
 host_total_listings_count                          9
 host_has_profile_pic                               9
 host_identity_verified                             9
 latitude                                           0
 longitude                                          0
 property_type                                      0
 room_type                                          0
 accommodates                                       0
 bathrooms                                       4982
 bedrooms                                        2060
 beds                                            5013
 price                                           4994
 minimum_nights                                     0
 maximum_nights                                     0
 minimum_minimum_nights                             0
 maximum_minimum_nights                             0
 minimum_maximum_nights                             0
 maximum_maximum_nights                             0
 minimum_nights_avg_ntm                             0
 maximum_nights_avg_ntm                             0
 has_availability                                 844
 availability_30                                    0
 availability_60                                    0
 availability_90                                    0
 availability_365                                   0
 number_of_reviews                                  0
 number_of_reviews_ltm                              0
 number_of_reviews_l30d                             0
 review_scores_rating                            3278
 review_scores_accuracy                          3280
 review_scores_cleanliness                       3278
 review_scores_checkin                           3281
 review_scores_communication                     3279
 review_scores_location                          3281
 review_scores_value                             3283
 license                                         5157
 instant_bookable                                   0
 calculated_host_listings_count                     0
 calculated_host_listings_count_entire_homes        0
 calculated_host_listings_count_private_rooms       0
 calculated_host_listings_count_shared_rooms        0
 reviews_per_month                               3278
 dtype: int64,
 'valores nulos por dataframe',
 np.int64(50089))

In [7]:
df["price"] =  df["price"].str.replace(r"[$,]","",regex=True).astype(float)

In [ ]:
#funcion de sustitucion forward fill
fs2.sustitucion_bfill(df, ["description"]) #la funcion sustituye todas las columnas de la lista con el metodo ffill es decir hacia adelante

/Users/jos/Desktop/Profesor alfredo/tarea4/funciones2.py:38: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataframe[col] = dataframe[col].fillna(method="bfill")

,Unnamed: 0,id,scrape_id,name,description,host_id,host_name,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,f,1.0,1.0,...,5.00,4.64,4.82,NaN,f,1,1,0,0,0.09
1,1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,f,7.0,7.0,...,NaN,NaN,NaN,NaN,f,3,1,2,0,NaN
2,2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,t,1.0,1.0,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,3,8164759,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,f,1.0,3.0,...,5.00,3.00,3.00,NaN,f,1,1,0,0,0.01
4,4,18836877,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,f,1.0,1.0,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,"Spectacular apartment in Eylauerstrasse, with ...",125006999,Sophie,t,3.0,3.0,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,f,58.0,59.0,...,NaN,NaN,NaN,NaN,t,58,58,0,0,NaN
13981,13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,f,6.0,6.0,...,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,NaN
13982,13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,f,2.0,2.0,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
13983,13983,1285513092900098347,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,f,1.0,1.0,...,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,NaN

In [ ]:
fs2.sustitucion_bfill(df,["license"]) #la funcion sustituye todas las columnas de la lista con el metodo bfill, es decir hacia atras

/Users/jos/Desktop/Profesor alfredo/tarea4/funciones2.py:38: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataframe[col] = dataframe[col].fillna(method="bfill")

,Unnamed: 0,id,scrape_id,name,description,host_id,host_name,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,f,1.0,1.0,...,5.00,4.64,4.82,01/Z/AZ/017416-24,f,1,1,0,0,0.09
1,1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,f,7.0,7.0,...,NaN,NaN,NaN,01/Z/AZ/017416-24,f,3,1,2,0,NaN
2,2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,t,1.0,1.0,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,3,8164759,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,f,1.0,3.0,...,5.00,3.00,3.00,01/Z/NA/004162-16,f,1,1,0,0,0.01
4,4,18836877,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,f,1.0,1.0,...,NaN,NaN,NaN,01/Z/NA/004162-16,f,1,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,"Spectacular apartment in Eylauerstrasse, with ...",125006999,Sophie,t,3.0,3.0,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,f,58.0,59.0,...,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,58,58,0,0,NaN
13981,13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,f,6.0,6.0,...,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,NaN
13982,13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,f,2.0,2.0,...,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,2,2,0,0,NaN
13983,13983,1285513092900098347,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,f,1.0,1.0,...,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,NaN

In [ ]:
fs2.sustitucion_string_concreto(df,["has_availability", "host_is_superhost", "host_has_profile_pic", "host_identity_verified"]) #la funcion sustituye todas las columnas de la lista con el metodo string concreto, en este caso es ideal para las booleanas ya que la respuesta es o True o False

,Unnamed: 0,id,scrape_id,name,description,host_id,host_name,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,f,1.0,1.0,...,5.00,4.64,4.82,01/Z/AZ/017416-24,f,1,1,0,0,0.09
1,1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,f,7.0,7.0,...,NaN,NaN,NaN,01/Z/AZ/017416-24,f,3,1,2,0,NaN
2,2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,t,1.0,1.0,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,3,8164759,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,f,1.0,3.0,...,5.00,3.00,3.00,01/Z/NA/004162-16,f,1,1,0,0,0.01
4,4,18836877,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,f,1.0,1.0,...,NaN,NaN,NaN,01/Z/NA/004162-16,f,1,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,"Spectacular apartment in Eylauerstrasse, with ...",125006999,Sophie,t,3.0,3.0,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,f,58.0,59.0,...,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,58,58,0,0,NaN
13981,13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,f,6.0,6.0,...,NaN,NaN,NaN,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,NaN
13982,13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,f,2.0,2.0,...,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,2,2,0,0,NaN
13983,13983,1285513092900098347,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,f,1.0,1.0,...,NaN,NaN,NaN,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,NaN

In [ ]:
fs2.sustitucion_promedio(df,["review_scores_rating", "review_scores_accuracy", "review_scores_cleanliness", "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value","price"]) #la funcion sustituye todas las columnas seleccionadas en la lista con el promedio de la columna

,Unnamed: 0,id,scrape_id,name,description,host_id,host_name,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,f,1.0,1.0,...,5.00,4.64,4.82,01/Z/AZ/017416-24,f,1,1,0,0,0.09
1,1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,f,7.0,7.0,...,4.80,4.80,4.70,01/Z/AZ/017416-24,f,3,1,2,0,NaN
2,2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,t,1.0,1.0,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,3,8164759,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,f,1.0,3.0,...,5.00,3.00,3.00,01/Z/NA/004162-16,f,1,1,0,0,0.01
4,4,18836877,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,f,1.0,1.0,...,4.80,4.80,4.70,01/Z/NA/004162-16,f,1,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,"Spectacular apartment in Eylauerstrasse, with ...",125006999,Sophie,t,3.0,3.0,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,f,58.0,59.0,...,4.80,4.80,4.70,Legal entity name and Legal form: Bellman Hote...,t,58,58,0,0,NaN
13981,13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,f,6.0,6.0,...,4.80,4.80,4.70,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,NaN
13982,13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,f,2.0,2.0,...,4.80,4.80,4.70,First name and Last name: Ines Chebli <br/> Co...,f,2,2,0,0,NaN
13983,13983,1285513092900098347,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,f,1.0,1.0,...,4.80,4.80,4.70,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,NaN

In [ ]:
fs2.sustitucion_mediana(df,["bathrooms","beds","bedrooms"]) #la funcion sustituye todas las columnas de la lista con la mediana

,Unnamed: 0,id,scrape_id,name,description,host_id,host_name,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,f,1.0,1.0,...,5.00,4.64,4.82,01/Z/AZ/017416-24,f,1,1,0,0,0.09
1,1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,f,7.0,7.0,...,4.80,4.80,4.70,01/Z/AZ/017416-24,f,3,1,2,0,NaN
2,2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,t,1.0,1.0,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,3,8164759,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,f,1.0,3.0,...,5.00,3.00,3.00,01/Z/NA/004162-16,f,1,1,0,0,0.01
4,4,18836877,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,f,1.0,1.0,...,4.80,4.80,4.70,01/Z/NA/004162-16,f,1,1,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,"Spectacular apartment in Eylauerstrasse, with ...",125006999,Sophie,t,3.0,3.0,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,f,58.0,59.0,...,4.80,4.80,4.70,Legal entity name and Legal form: Bellman Hote...,t,58,58,0,0,NaN
13981,13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,f,6.0,6.0,...,4.80,4.80,4.70,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,NaN
13982,13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,f,2.0,2.0,...,4.80,4.80,4.70,First name and Last name: Ines Chebli <br/> Co...,f,2,2,0,0,NaN
13983,13983,1285513092900098347,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,f,1.0,1.0,...,4.80,4.80,4.70,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,NaN

In [ ]:
fs2.sustitucion_constante(df,["reviews_per_month"]) #la funcion sustituye todas las columnas de la lista con un numero especifico que tiene sentido con la informacion de la columna

,Unnamed: 0,id,scrape_id,name,description,host_id,host_name,host_is_superhost,host_listings_count,host_total_listings_count,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,f,1.0,1.0,...,5.00,4.64,4.82,01/Z/AZ/017416-24,f,1,1,0,0,0.09
1,1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,f,7.0,7.0,...,4.80,4.80,4.70,01/Z/AZ/017416-24,f,3,1,2,0,3.00
2,2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,t,1.0,1.0,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,3,8164759,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,f,1.0,3.0,...,5.00,3.00,3.00,01/Z/NA/004162-16,f,1,1,0,0,0.01
4,4,18836877,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,f,1.0,1.0,...,4.80,4.80,4.70,01/Z/NA/004162-16,f,1,1,0,0,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,"Spectacular apartment in Eylauerstrasse, with ...",125006999,Sophie,t,3.0,3.0,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,f,58.0,59.0,...,4.80,4.80,4.70,Legal entity name and Legal form: Bellman Hote...,t,58,58,0,0,3.00
13981,13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,f,6.0,6.0,...,4.80,4.80,4.70,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,3.00
13982,13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,f,2.0,2.0,...,4.80,4.80,4.70,First name and Last name: Ines Chebli <br/> Co...,f,2,2,0,0,3.00
13983,13983,1285513092900098347,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,f,1.0,1.0,...,4.80,4.80,4.70,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,3.00

In [16]:
df.drop(columns=["Unnamed: 0"])

,id,scrape_id,name,description,host_id,host_name,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2084992,20241221052002,"Nice and cozy apartment in Kreuzberg, Graefekiez",Our cosy two room Apartment (70qm) in a vibrat...,6302373,Andreas,f,1.0,1.0,t,...,5.00,4.64,4.82,01/Z/AZ/017416-24,f,1,1,0,0,0.09
1,1123383729460847373,20241221052002,Furnished room in well equipped serviced apart...,Room in an apartment available. Apartment has ...,206488801,Supriya,f,7.0,7.0,t,...,4.80,4.80,4.70,01/Z/AZ/017416-24,f,3,1,2,0,3.00
2,1205255838613758737,20241221052002,Luxurous game room with private bath in X-Berg,Cozy private room in Berlin Mitte with private...,50009901,Gabriel,t,1.0,1.0,t,...,4.97,4.94,4.94,01/Z/AZ/017416-24,f,1,0,1,0,9.53
3,8164759,20241221052002,Beautiful single-room studio,Experience the “real Berlin” in our small and ...,42115726,Lars,f,1.0,3.0,t,...,5.00,3.00,3.00,01/Z/NA/004162-16,f,1,1,0,0,0.01
4,18836877,20241221052002,Unterkunft zentral in Berlin,"The accommodation has 3 rooms, however, is onl...",131184702,Jana,f,1.0,1.0,t,...,4.80,4.80,4.70,01/Z/NA/004162-16,f,1,1,0,0,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13979,1066742710842868324,20241221052002,Cozy bedroom in a stylish house,"Spectacular apartment in Eylauerstrasse, with ...",125006999,Sophie,t,3.0,3.0,t,...,5.00,4.78,5.00,03/Z/AZ/007577-22,f,3,0,3,0,0.82
13980,882524735229064604,20241221052002,hornos - 1 bedroom apartment in kreuzberg,"Spectacular apartment in Eylauerstrasse, with ...",449692327,Ukio Germany,f,58.0,59.0,t,...,4.80,4.80,4.70,Legal entity name and Legal form: Bellman Hote...,t,58,58,0,0,3.00
13981,1172288594718636022,20241221052002,Deluxe Superior Accessible,This wheelchair accessible double room feature...,570785536,Sergio,f,6.0,6.0,t,...,4.80,4.80,4.70,Legal entity name and Legal form: Bellman Hote...,t,6,0,6,0,3.00
13982,1233927040956879330,20241221052002,Prenzlauerberg Berlin,Fully equipped apartment with large balcony in...,3893392,Nikolaj,f,2.0,2.0,t,...,4.80,4.80,4.70,First name and Last name: Ines Chebli <br/> Co...,f,2,2,0,0,3.00
13983,1285513092900098347,20241221052002,Charmant appart berlinois,Enjoy with your family this great place to sta...,21907458,Inès Lily,f,1.0,1.0,t,...,4.80,4.80,4.70,First name and Last name: Ines Chebli <br/> Co...,f,1,1,0,0,3.00

In [17]:
fs2.cuenta_valores_nulos(df)

('Valores nulos por columna',
 Unnamed: 0                                      0
 id                                              0
 scrape_id                                       0
 name                                            0
 description                                     0
 host_id                                         0
 host_name                                       9
 host_is_superhost                               0
 host_listings_count                             9
 host_total_listings_count                       9
 host_has_profile_pic                            0
 host_identity_verified                          0
 latitude                                        0
 longitude                                       0
 property_type                                   0
 room_type                                       0
 accommodates                                    0
 bathrooms                                       0
 bedrooms                                        0
 beds                                            0
 price                                           0
 minimum_nights                                  0
 maximum_nights                                  0
 minimum_minimum_nights                          0
 maximum_minimum_nights                          0
 minimum_maximum_nights                          0
 maximum_maximum_nights                          0
 minimum_nights_avg_ntm                          0
 maximum_nights_avg_ntm                          0
 has_availability                                0
 availability_30                                 0
 availability_60                                 0
 availability_90                                 0
 availability_365                                0
 number_of_reviews                               0
 number_of_reviews_ltm                           0
 number_of_reviews_l30d                          0
 review_scores_rating                            0
 review_scores_accuracy                          0
 review_scores_cleanliness                       0
 review_scores_checkin                           0
 review_scores_communication                     0
 review_scores_location                          0
 review_scores_value                             0
 license                                         0
 instant_bookable                                0
 calculated_host_listings_count                  0
 calculated_host_listings_count_entire_homes     0
 calculated_host_listings_count_private_rooms    0
 calculated_host_listings_count_shared_rooms     0
 reviews_per_month                               0
 dtype: int64,
 'valores nulos por dataframe',
 np.int64(27))